<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork900-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1>Extracting and Visualizing Stock Data</h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

***Note***:- If you are working Locally using anaconda, please uncomment the following code and execute it.
Use the version as per your python version.

In [1]:
!pip install yfinance
!pip install bs4
!pip install nbformat
!pip install --upgrade plotly

Requirement already satisfied: yfinance in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (0.2.65)
Requirement already satisfied: pandas>=1.3.0 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (2.3.0)
Requirement already satisfied: numpy>=1.16.5 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (2.3.1)
Requirement already satisfied: requests>=2.31 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (2.32.4)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (4.3.8)
Requirement already satisfied: pytz>=2022.5 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (3.18.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (4.13.4)
Requirement already satisfied: curl_cffi>=0.7 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (0.12.0)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (6.31.1)
Requirement already satisfied: websockets>=13.0 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.14.0)
Requirement already satisfied: cffi>=1.12.0 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from curl_cffi>=0.7->yfinance) (2025.4.26)
Requirement already satisfied: pycparser in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.22)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from requests>=2.31->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from requests>=2.31->yfinance) (1.26.20)
Requirement already satisfied: bs4 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from bs4) (4.13.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4->bs4) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4->bs4) (4.14.0)
Requirement already satisfied: nbformat in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (5.10.4)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from nbformat) (2.21.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from nbformat) (4.24.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from nbformat) (5.8.1)
Requirement already satisfied: traitlets>=5.1 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from nbformat) (5.14.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=2.6->nbformat) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=2.6->nbformat) (2025.4.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=2.6->nbformat) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=2.6->nbformat) (0.25.1)
Requirement already satisfied: platformdirs>=2.5 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.3.8)
Requirement already satisfied: pywin32>=300 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (310)
Requirement already satisfied: plotly in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (6.3.0)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from plotly) (1.47.0)
Requirement already satisfied: packaging in c:\users\carlos\appdata\local\programs\python\python313\lib\site-packages (from plotly) (25.0)

In [2]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [3]:
import plotly.io as pio
pio.renderers.default = "iframe"

In Python, you can ignore warnings using the warnings module. You can use the filterwarnings function to filter or ignore specific warning messages or categories.

In [4]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

## Define Graphing Function

In this section, we define the function `make_graph`. **You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.**

In [5]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021-06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()
    from IPython.display import display, HTML
    fig_html = fig.to_html()
    display(HTML(fig_html))

Use the make_graph function that we’ve already defined. You’ll need to invoke it in questions 5 and 6 to display the graphs and create the dashboard. 
> **Note: You don’t need to redefine the function for plotting graphs anywhere else in this notebook; just use the existing function.**

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [6]:
tesla = yf.Ticker("TSLA")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to ` "max" ` so we get information for the maximum amount of time.

In [7]:
tesla_share_price_data = tesla.history(period="max")

**Reset the index** using the `reset_index(inplace=True)` function on the tesla_data DataFrame and display the first five rows of the `tesla_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [8]:
tesla_share_price_data = tesla_share_price_data.reset_index()   # Reseta o índice para transformar a data em coluna

In [9]:
tesla_share_price_data.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
3819,2025-09-04 00:00:00-04:00,336.149994,338.890015,331.480011,338.529999,60711000,0.0,0.0
3820,2025-09-05 00:00:00-04:00,348.000000,355.869995,344.679993,350.839996,108989800,0.0,0.0
3821,2025-09-08 00:00:00-04:00,354.640015,358.440002,344.839996,346.399994,75208300,0.0,0.0
3822,2025-09-09 00:00:00-04:00,348.440002,350.769989,343.820007,346.970001,53689900,0.0,0.0
3823,2025-09-10 00:00:00-04:00,350.700012,356.320007,346.070007,353.911407,39527854,0.0,0.0

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm Save the text of the response as a variable named `html_data`.

In [13]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"

html_data  = requests.get(url).text   # tables = pd.read_html(url)

Parse the html data using `beautiful_soup` using parser i.e `html5lib` or `html.parser`.

In [2]:
# soup = BeautifulSoup(html_data,"html5lib")

Using `BeautifulSoup` or the `read_html` function extract the table with `Tesla Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns `Date` and `Revenue`.

<details><summary>Step-by-step instructions</summary>

```

Here are the step-by-step instructions:

1. Create an Empty DataFrame
2. Find the Relevant Table
3. Check for the Tesla Quarterly Revenue Table
4. Iterate Through Rows in the Table Body
5. Extract Data from Columns
6. Append Data to the DataFrame

```
</details>

In [16]:
import requests

tesla_revenue = pd.DataFrame(columns=["Date", "Revenue"])

In [17]:
tables = soup.find_all('table')

In [18]:
for row in tables[1].tbody.find_all("tr"):
    col = row.find_all("td")
    if col:
        Date = col[0].text.strip()
        Revenue_text = col[1].text.strip()
        Revenue_str  = Revenue_text.replace(",","").replace("$","")
        Revenue = pd.to_numeric(Revenue_str)

        # Create a temporary DataFrame for the new row
        new_row = pd.DataFrame([{"Date": Date, "Revenue": Revenue}])

        # Use concat 
        tesla_revenue = pd.concat([tesla_revenue, new_row], ignore_index=True)

In [22]:
tesla_revenue.tail()

tesla_revenue.dropna(inplace=True)

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1

We are focusing on quarterly revenue in the lab.
```

</details>

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

Execute the following lines to remove an null or empty strings in the Revenue column.

In [21]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [23]:
tesla_revenue.tail()

          Date Revenue
48  2010-09-30      31
49  2010-06-30      28
50  2010-03-31      21
52  2009-09-30      46
53  2009-06-30      27

## Question 3: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

In [26]:
gamestop = yf.Ticker("GME")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to ` "max" ` so we get information for the maximum amount of time.

In [27]:
gamestop_share_price_data = gamestop.history(period="max")

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [28]:
gamestop_share_price_data = gamestop_share_price_data.reset_index()   #

In [29]:
gamestop_share_price_data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683251,1.687459,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666417,1.666417,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0
...,...,...,...,...,...,...,...,...
5918,2025-08-21 00:00:00-04:00,22.600000,22.620001,22.379999,22.559999,4090600,0.0,0.0
5919,2025-08-22 00:00:00-04:00,22.650000,23.030001,22.620001,22.889999,5551400,0.0,0.0
5920,2025-08-25 00:00:00-04:00,22.860001,22.900000,22.559999,22.680000,3801000,0.0,0.0
5921,2025-08-26 00:00:00-04:00,22.670000,22.799999,22.270000,22.299999,7839700,0.0,0.0
5922,2025-08-27 00:00:00-04:00,22.459999,22.549999,22.270000,22.431000,3774443,0.0,0.0

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html. Save the text of the response as a variable named `html_data_2`.

In [30]:
url2 = " https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"

html_data2  = requests.get(url2).text

Parse the html data using `beautiful_soup` using parser i.e `html5lib` or `html.parser`.

In [31]:
soup = BeautifulSoup(html_data2,"html5lib")

Using `BeautifulSoup` or the `read_html` function extract the table with `GameStop Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column.

> **Note: Use the method similar to what you did in question 2.**

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [34]:
tables2 = soup.find_all('table')   # gamestop_revenue = tables2[1]

gamestop_revenue = pd.DataFrame(columns=["Date", "Revenue"])

for row in tables2[1].tbody.find_all("tr"):
    col = row.find_all("td")
    if col:
        Date = col[0].text.strip()
        Revenue_text = col[1].text.strip()
        Revenue_str  = Revenue_text.replace(",","").replace("$","")
        Revenue = pd.to_numeric(Revenue_str)

        # Create a temporary DataFrame for the new row
        new_row = pd.DataFrame([{"Date": Date, "Revenue": Revenue}])

        # Use concat 
        gamestop_revenue = pd.concat([gamestop_revenue, new_row], ignore_index=True)

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [35]:
gamestop_revenue.tail()

          Date Revenue
57  2006-01-31    1667
58  2005-10-31     534
59  2005-07-31     416
60  2005-04-30     475
61  2005-01-31     709

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. Note the graph will only show data upto June 2021.

It was necessary to use another way to present the graphs because I was unable to make the function operate.

In [42]:
make_graph(tesla_share_price_data, tesla_revenue, 'Tesla')

In [56]:
tesla_price = tesla_share_price_data[['Date','Close']]

In [58]:
tesla_price.tail()

                          Date       Close
3809 2025-08-20 00:00:00-04:00  323.899994
3810 2025-08-21 00:00:00-04:00  320.109985
3811 2025-08-22 00:00:00-04:00  340.010010
3812 2025-08-25 00:00:00-04:00  346.600006
3813 2025-08-26 00:00:00-04:00  351.670013

In [67]:
import plotly.express as px

fig = px.line(
    tesla_price,
    x='Date',
    y='Close',
    title='Tesla Price',
    width=500,
    height=500
)

fig.show()

## Question 6: Plot GameStop Stock Graph

It was necessary to use another way to present the graphs because I was unable to make the function operate.

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`. Note the graph will only show data upto June 2021.

<details><summary>Hint</summary>

```

You just need to invoke the make_graph function with the required parameter to print the graphs.The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`

```
    
</details>

In [62]:
import plotly.express as px

fig = px.bar(
    gamestop_revenue,
    x='Date',
    y='Revenue',
    title='Gamesstop Revenue',
    width=500,
    height=500
)

fig.show()

In [63]:
gamestop_price = gamestop_share_price_data[['Date','Close']]

In [64]:
gamestop_price.tail()

                          Date      Close
5918 2025-08-21 00:00:00-04:00  22.559999
5919 2025-08-22 00:00:00-04:00  22.889999
5920 2025-08-25 00:00:00-04:00  22.680000
5921 2025-08-26 00:00:00-04:00  22.299999
5922 2025-08-27 00:00:00-04:00  22.431000

In [66]:
import plotly.express as px

fig = px.line(
    gamestop_price,
    x='Date',
    y='Close',
    title='Gamestop Price',
    width=500,
    height=500
)

fig.show()

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
| ----------------- | ------- | ------------- | ------------------------- |
| 2022-02-28        | 1.2     | Lakshmi Holla | Changed the URL of GameStop |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>